@{
    ViewData["Title"] = "Спасибо за покупку";
}

<!DOCTYPE html>
<html>
<head>
    <title>Спасибо за покупку!</title>
</head>
<body>
    <div>
       <img src="https://zvetnoe.ru/upload/catalog/2019/02/GX27159.jpg" alt="Богатый кот.jpg" >
    </div>
</body>
</html>