@{
    ViewData["Title"] = "Кошечка";
} 
<!DOCTYPE html>
<html>
<head>
    <title>Кошечка</title>
    <meta charset="utf-8" />
</head>
<body>
      <img alt="red" src="@ViewBag.src" />    
</body>
</html>